@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO create a dark mode*/

/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

body {
    @apply text-black
    bg-slate-600
    p-6
}

nav {
    @apply
    flex flex-wrap justify-center gap-4
    p-4
    text-lg
    bg-white
    font-medium
    shadow-md
    ml-auto
    mr-auto
}

nav {
    max-width: 1048px;
}


nav.a {
    @apply
    mr-2
    ml-2
}

div.container {
    @apply
    max-w-full
}

div.pairs {
    @apply
    flex
    flex-row
    flex-wrap
    /*place-items-start*/
    justify-center
    /*items-end:last-child*/
}

div.right {
    /*@apply
    items-end*/
}

div.graphCard {
    width:800px;
}

div.graphCard {
    @apply
    /*ml-20
    mr-20*/
    mt-10
    shadow-md
    bg-white
    p-4
}

div.inputSet {
    @apply
    w-52
    mr-10
    /*ml-10*/
}

div.inputSelectorsCard{
   @apply
    p-6
    mt-10
    shadow-md
    bg-white
}

div.inputSelectorsCard.last{
    @apply
    mb-20
}

button {
    @apply
    w-28
    mb-2
    bg-blue-50
    outline outline-1
    rounded
    p-1
}

.inputSelector, .inputSelectorShortSidebySide, .inputSelectorShort {
    @apply
    w-36
    block
    mb-2
    bg-blue-50
    outline outline-1
    rounded
}

.inputSelectorShortSidebySide{
    @apply
    w-10
    inline
    mr-4
}

.inputSelectorShort{
    @apply
    w-10
    block
    mr-4
}

.inputTextField, .inputTextFieldShort, .inputTextFieldLong {
    @apply
    block
    mb-2
    w-20
    bg-blue-50
    outline outline-1
    rounded
    p-1
}

.inputTextFieldLong {
    @apply
    w-36
}

.inputTextFieldShort {
    @apply
    w-10
    p-1
}

.inputSetTitle {
    @apply
    font-medium
}

.inputTitle {
    @apply
    text-sm
    block
    mb-0.5
}

.inputTitleCheckbox {
    @apply
    text-sm
    inline-block
    mb-0.5
}

.inputCheckbox {
    @apply
    ml-2
}

div.left {
}

div.right {
}

input, select {
    padding: 2px;
}

hr.jobIncomeSeparator{
    @apply
    border-t-2
    border-gray-300
    mt-4
    mb-4
}

.graphTitle{
    @apply
    flex justify-center
    mt-2
}

.homeContainer{
    @apply
    ml-20
    mr-20
    mt-10
    shadow-md
    bg-white
    p-2
    ml-auto
    mr-auto
    p-8
}

.homeContainer{
    max-width: 1048px;
}

.homeContainer{
    min-height: 200px;
}

/*span.homeContent{
}*/

h1{
    @apply
    flex justify-center
    font-semibold
    font-serif
    text-xl
    drop-shadow-md
    mb-2
}

.homeContainer span{
    @apply
    block
    mt-2
    flex justify-center
}




/*
div.generalData {
    @apply w-full;
}*/
