@tailwind base;
@tailwind components;
@tailwind utilities;
/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

body {
    @apply bg-slate-100 text-black;
}

nav {
    @apply
    flex flex-wrap justify-center gap-4
    text-blue-600
    bg-gradient-to-b from-neutral-400 to-amber-50
    p-2

}

nav.a {
    @apply mr-2
    bg-gradient-to-b from-neutral-400 to-red-600

}